RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f 

RewriteRule ^([^\.]+)/id/([a-z0-9-]+)/token/([A-Z0-9-]+)/?$ $1.php?id=$2&token=$3 [L]

RewriteRule ^usuarios/editar-usuario/id/([^/]*)$ usuarios/editar-usuario.php?id=$1 [L]
RewriteRule ^aeronaves/editar-aeronave/id/([^/]*)$ aeronaves/editar-aeronave.php?id=$1 [L]
RewriteRule ^([^\.]+)$ $1.php [NC,L]